@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3b4350;
    margin: 0;
    padding: 0;
    
}

.footer-geral {
    background: #3b4350;
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
}
h3{
    font-size: 65px;
    color: #e6e6e6;
    margin-top: 13vh;
}
a{
    color: #e6e6e6;
    text-decoration: none;
    
}
.nome{
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}
img{
    width: 30px;
    height: 30px;
}
#footer-geral{
margin-left: auto;
margin-right: auto;
text-align: center;
}
.links{
    margin-bottom: 3vh;
    margin-top: 2vh;
}


@media(max-width: 650px) {
    }